.hour{
  color: red;
  text-align: center;
  background-color: black;
  font-family: monospace;
  font-size: 18em;

}
.minute{
  color: green;
  text-align: center;
  background-color: black;
  font-family: monospace;
  font-size: 18em;
  
}
.seconds{
  color:blue;
  text-align: center;
  background-color: black;
  font-family: monospace;
  font-size: 18em;
 
}
.App{
  display: flex;
   align-items: center;
 
  position: absolute;
  top:50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
  width: 1000px;
  height: 300px;
  
}